.advantages

	// container

	.container.container-small

		.row

			.col-xs-12.col-md-12

				// title block

				.title-block

					h2.wow.fadeInDown
						| ЗАЧЕМ НУЖЕН ПРЕДВАРИТЕЛЬНЫЙ ЗАМЕР КВАРТИРЫ? ИЛИ О ЧЕМ МОЛЧАТ ВАШИ СТЕНЫ

				// advantages list

				.advantages__list

					ul

						li
							img(src="../img/icons/icon-5.png" alt="@@")
							.advantages__list__content
								span
									| Обратилась в компанию «Комфорт Ремонт»
								p
									| в апреле 2017 года по поводу ремонта 1 к. новостройке "с нуля" (Богатырский пр. 49/1). Данную компанию нашла самостоятельно, через интернет.

						li
							img(src="../img/icons/icon-6.png" alt="@@")
							.advantages__list__content
								span
									| Обратилась в компанию «Комфорт Ремонт»
								p
									| в апреле 2017 года по поводу ремонта 1 к. новостройке "с нуля" (Богатырский пр. 49/1). Данную компанию нашла самостоятельно, через интернет.

						li
							img(src="../img/icons/icon-7.png" alt="@@")
							.advantages__list__content
								span
									| Обратилась в компанию «Комфорт Ремонт»
								p
									| в апреле 2017 года по поводу ремонта 1 к. новостройке "с нуля" (Богатырский пр. 49/1). Данную компанию нашла самостоятельно, через интернет.

						li
							img(src="../img/icons/icon-8.png" alt="@@")
							.advantages__list__content
								span
									| Обратилась в компанию «Комфорт Ремонт»
								p
									| в апреле 2017 года по поводу ремонта 1 к. новостройке "с нуля" (Богатырский пр. 49/1). Данную компанию нашла самостоятельно, через интернет.