.portfolio#portfolioBlock

	// title block

	.title-block

					h2
						| Наше портфолио

					.title-block__line


	// portfolio slider

	.portfolio-slider

					ul.portfolio-banner.portfolio-block

						// item

						li

							// portfolio slider content

							.portfolio-slider__content

								h4
									| Двухкомнатная квартира

								.title-block__line.no-margin

								p.portfolio-content
									| Скидка 15% на разработку дизайн-проекта в скандинавском стиле

							.portfolio-slider__example

								.works-slider

									// works

									ul.works-banner.works-block

										// item

										li
											a(href="#" title="")
												img(src="../img/work.jpg" alt="@@")

										// / item

										// item

										li
											a(href="#" title="")
												img(src="../img/work.jpg" alt="@@")

										// / item

										// item

										li
											a(href="#" title="")
												img(src="../img/work.jpg" alt="@@")

										// / item

										// item

										li
											a(href="#" title="")
												img(src="../img/work.jpg" alt="@@")

										// / item

						// / item

						// item

						li

							// portfolio slider content

							.portfolio-slider__content

								h4
									| Скидка на дизайн в скандинавском стиле

								.title-block__line.no-margin

								p.portfolio-content
									| Скидка 15% на разработку дизайн-проекта в скандинавском стиле

								a.button-blue.portfolio-slider__content__button(href="#" title="")
									| Воспользоваться акцией

							.portfolio-slider__example
								.portfolio-slider__example__background
								img(src="../img/action.jpg" alt="@@")

						// / item