@import '../styles/fonts.css';
.logo,
a,
a:hover,
li,
img,
input,
textarea,
.prev,
.next {
  transition: all 0.5s ease-in-out;
}
.list__number__element {
  transition: all 0.2s ease-in-out;
}
body {
  cursor: default;
  overflow-x: hidden !important;
}
a {
  cursor: pointer;
}
.color-red {
  color: #cd333f;
}
.color-blue {
  color: #195abc;
}
.left {
  float: left;
  margin: 0;
}
.right {
  float: right;
}
.link-bold {
  display: inline-block;
  height: 46px;
  font: 20px 'robotomedium';
  color: #1b3459;
  line-height: 46px;
  text-decoration: underline;
}
.link-bold:hover {
  color: #159cd8;
}
.button-blue {
  padding: 0 40px;
  display: inline-block;
  height: 46px;
  background: #1b3459;
  border-radius: 2px;
  font: 12px 'robotomedium';
  color: #fff;
  line-height: 46px;
  text-transform: uppercase;
}
.button-blue:hover,
.button-blue:focus {
  background: #159cd8;
  color: #fff;
  font-family: 'robotobold';
  border-radius: 4px;
  text-decoration: none;
}
.button-transparent {
  display: block;
  width: 177px;
  height: 37px;
  background: 0;
  font: 12px 'robotomedium';
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  border-radius: 6px;
  border: 2px solid #fff;
}
.button-transparent:hover,
.button-transparent:focus {
  background: #fff;
  color: #159cd8;
  border-color: #fff;
  font-family: 'robotobold';
  border-radius: 6px;
  text-decoration: none;
}
.no-margin {
  margin: 0 !important;
  float: none !important;
}
@media only screen and (min-width: 1100px) {
  .actions {
    padding-top: 80px;
    width: 1040px;
    margin: 0 auto;
    height: auto;
  }
  .title-block__line {
    margin: 0 auto;
    width: 74px;
    height: 4px;
    background: #1b3459;
  }
  .actions-slider {
    position: relative;
    z-index: 888;
  }
  .prev {
    top: 190px;
    left: -6%;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    -moz-transform: rotate(180deg);
    z-index: 888;
  }
  .prev:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .next {
    top: 190px;
    right: -4%;
    margin-left: -2%;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat center;
    z-index: 99999;
  }
  .next:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .actions-banner {
    margin: 84px 0 120px 0;
    height: 464px;
    width: 100%;
  }
  .actions-banner ul {
    list-style: none;
  }
  .actions-banner li {
    margin: 0;
    padding: 0;
    margin-left: -10px;
    list-style: none;
    float: left;
    width: auto;
    height: 464px;
  }
  .actions-banner li a,
  .actions-banner li a:hover {
    display: block;
  }
  .actions-banner li a img,
  .actions-banner li a:hover img {
    float: right;
    display: block;
    margin: 0 auto;
    width: 514px !important;
    height: auto !important;
  }
  .actions-slider__content {
    height: 384px;
    position: relative;
    margin-right: 60px;
    float: left;
    width: 400px;
    height: auto;
    overflow: hidden;
  }
  .actions-slider__content h4 {
    display: block;
    font: 24px 'robotomedium';
    color: #1b3459;
    text-transform: uppercase;
  }
  .actions-slider__content p {
    margin-top: 60px;
    display: block;
    font: 18px 'robotolight';
    color: #4e4e4e;
  }
  .actions-slider__content__author {
    margin-bottom: 70px;
    height: 80px;
    overflow: hidden;
  }
  .actions-slider__content__author img {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 36px;
  }
  .actions-slider__content__author span {
    margin-top: 16px;
    display: block;
    font: 20px 'robotomedium';
    color: #1b3459;
  }
  .actions-slider__content__author p {
    margin-top: 2px;
    font: 18px 'robotoregular';
    color: #000;
  }
  .actions-slider__content__button {
    margin-top: 140px;
    width: auto;
    display: inline-block !important;
  }
  .actions-show {
    margin-top: 20px;
    display: block;
    font: 18px 'robotomedium';
    color: #1b3459;
    text-decoration: underline;
  }
  .actions-show:hover {
    color: #159cd8;
  }
  .actions-full {
    display: none;
  }
  .actions-slider__example {
    position: relative;
    float: right;
    display: block;
    margin: 0 auto;
    width: 514px !important;
    height: auto !important;
  }
  .actions-slider__example img {
    position: absolute;
    display: block;
    width: 512px !important;
    height: 384px;
    z-index: 5;
  }
  .actions-slider__example__background {
    left: -75px;
    bottom: -465px;
    position: absolute;
    z-index: 3;
    width: 440px;
    height: 240px;
    background: url('../img/relief.jpg') no-repeat;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .actions {
    width: auto;
    margin: 0 auto;
    height: auto;
  }
  .title-block__line {
    margin: 0 auto;
    width: 74px;
    height: 4px;
    background: #1b3459;
  }
  .actions-slider {
    position: relative;
    z-index: 888;
  }
  .prev {
    top: -10% !important;
    left: 5%;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    -moz-transform: rotate(180deg);
    z-index: 888;
  }
  .prev:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .next {
    top: -10% !important;
    right: 5%;
    margin-left: 0%;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat center;
    z-index: 99999;
  }
  .next:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .actions-banner {
    margin: 84px 0 30px 0;
    height: auto;
    width: auto;
    overflow: hidden;
  }
  .actions-banner ul {
    list-style: none;
  }
  .actions-banner li {
    margin: 0;
    padding: 0;
    margin-left: -10px;
    list-style: none;
    float: left;
    width: auto;
    height: auto;
  }
  .actions-banner li a,
  .actions-banner li a:hover {
    display: block;
  }
  .actions-banner li a img,
  .actions-banner li a:hover img {
    float: none;
    display: block;
    margin: 0 auto;
    width: 100% !important;
    height: auto !important;
  }
  .centered-controls_tabs {
    margin-top: 260px;
    position: absolute;
    width: 210px;
    background: 0;
    z-index: 99;
    left: 50%;
    margin-left: -7%;
  }
  .centered-controls_tabs li {
    list-style: none;
    float: left;
  }
  .centered-controls_tabs li a,
  .centered-controls_tabs li a:hover {
    display: block;
    width: 10px;
    height: 10px;
    background: 0;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -9999px;
  }
  .centered-controls_tabs li:last-child {
    margin-right: 0;
  }
  .centered-controls_here {
    background: #fff;
    border-radius: 50%;
  }
  .actions-slider__content {
    margin-right: 0px;
    margin: 0 !important;
    float: none;
    width: auto !important;
    height: auto;
    overflow: hidden;
  }
  .actions-slider__content p {
    margin-top: 30px;
    font: 18px 'robotolight';
    color: #4e4e4e;
  }
  .actions-slider__content__author {
    margin-left: 8%;
    margin-bottom: 30px;
    height: 80px;
    overflow: hidden;
  }
  .actions-slider__content__author img {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 36px;
  }
  .actions-slider__content__author span {
    margin-top: 16px;
    display: block;
    font: 20px 'robotomedium';
    color: #1b3459;
  }
  .actions-slider__content__author p {
    margin-top: 2px;
    font: 18px 'robotoregular';
    color: #000;
  }
  .actions-show {
    margin-top: 20px;
    display: block;
    font: 18px 'robotomedium';
    color: #1b3459;
    text-decoration: underline;
  }
  .actions-show:hover {
    color: #159cd8;
  }
  .actions-full {
    display: none;
  }
  .actions-slider__example {
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
    display: block;
    margin: 0 auto;
    width: auto !important;
    height: auto !important;
    overflow: hidden;
  }
  .actions-slider__example img {
    margin: 30px 0 0 0%;
    position: relative !important;
    display: block;
    width: 90% !important;
    height: auto !important;
  }
  .actions-slider__example__background {
    display: none;
    left: -75px;
    bottom: -525px;
    position: absolute;
    z-index: 3;
    width: 440px;
    height: 240px;
    background: url('../img/relief.jpg') no-repeat;
  }
  .actions-slider__content__button {
    margin: 30px auto;
    width: auto;
    text-align: center;
    display: inline-block !important;
  }
}
@media only screen and (min-width: 1100px) {
  .block-begin {
    padding-top: 80px;
    padding-bottom: 66px;
    height: auto;
    background: url('../img/block-begin.jpg') no-repeat center;
    background-size: cover;
  }
  .title-block {
    margin-top: 35px;
    height: auto;
  }
  .title-block h2 {
    font: 36px 'robotoregular';
    color: #1b3459;
    text-transform: uppercase;
    text-align: center;
  }
  .list {
    height: auto;
  }
  .list ul {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 45px;
  }
  .list ul li {
    display: block;
    height: 80px;
    margin-bottom: 44px;
  }
  .list ul li p {
    width: 80%;
    float: left;
    font: 18px 'robotolight';
    color: #1b3459;
  }
  .list__normal {
    margin-top: 18px;
  }
  .list__small {
    margin-top: 28px;
  }
  .list__number {
    margin-right: 24px;
    float: left;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .list__number__element {
    width: 80px;
    height: 80px;
    background: #fff;
    border: 10px solid #1b3459;
    text-align: center;
  }
  .list__number__element span {
    display: block;
    float: none !important;
    font: 60px 'robotobold';
    color: #159cd8;
    line-height: 110px;
  }
  .list__number__element:hover,
  .list li:hover .list__number__element {
    -moz-transform: rotate(45deg);
    background: #1b3459;
    line-height: 90px;
  }
  .list__number__element:hover span,
  .list li:hover .list__number__element span {
    -moz-transform: rotate(-45deg);
    font: 50px 'robotobold';
    color: #fff;
  }
  .block-begin__detail {
    margin: 0 auto;
    width: 550px;
    height: auto;
  }
  .block-begin__detail__link {
    float: right;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .block-begin {
    height: 838px;
    height: auto;
    padding-bottom: 30px;
    background: url('../img/block-begin.jpg') no-repeat center;
  }
  .title-block {
    margin-top: 35px;
    height: auto;
  }
  .title-block h2 {
    font: 36px 'robotoregular';
    color: #1b3459;
    text-transform: uppercase;
    text-align: center;
  }
  .list {
    height: auto;
  }
  .list ul {
    margin: 0;
    padding: 0;
    margin-top: 40px;
  }
  .list ul li {
    display: block;
    height: 80px;
    margin-bottom: 44px;
  }
  .list ul li p {
    display: block;
    width: auto;
    float: none;
    font: 14px 'robotolight';
    color: #1b3459;
  }
  .list__normal {
    margin-top: 18px;
  }
  .list__small {
    margin-top: 28px;
  }
  .list__number {
    margin-right: 24px;
    float: left;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .list__number__element {
    width: 80px;
    height: 80px;
    background: #fff;
    border: 10px solid #1b3459;
    text-align: center;
  }
  .list__number__element span {
    display: block;
    float: none !important;
    font: 60px 'robotobold';
    color: #159cd8;
    line-height: 110px;
  }
  .list__number__element:hover,
  .list li:hover .list__number__element {
    -moz-transform: rotate(45deg);
    background: #1b3459;
    line-height: 90px;
  }
  .list__number__element:hover span,
  .list li:hover .list__number__element span {
    -moz-transform: rotate(-45deg);
    font: 50px 'robotobold';
    color: #fff;
  }
  .block-begin__detail {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  .block-begin__detail a,
  .block-begin__detail a:hover {
    display: block;
    width: 300px !important;
    text-align: center;
    padding: 0;
    margin: 0 auto !important;
    margin-bottom: 20px;
  }
  .block-begin__detail__link {
    float: none;
  }
}
@media only screen and (min-width: 1100px) {
  .contacts {
    height: auto;
    padding: 60px 0 130px 0;
  }
  .contacts__title-border {
    margin: 0 auto;
    width: 190px;
    height: 4px;
    background: #fff;
  }
  .contacts__title-border__blue {
    float: left;
    width: 72px;
    height: 4px;
    background: #1b3459;
  }
  .contacts__info {
    height: auto;
  }
  .contacts__info h4 {
    font: 24px 'robotoitalic';
    color: #202020;
    text-transform: uppercase;
  }
  .contacts__info span {
    margin-bottom: 20px;
    margin-top: 30px;
    display: block;
    font: 24px 'robotoregular';
    color: #1f1f1f;
    text-transform: uppercase;
  }
  .contacts__info p {
    margin-bottom: 30px;
    font: 18px 'robotolight';
    color: #1f1f1f;
    line-height: 26px;
  }
  .contacts__inn {
    color: #1b3459 !important;
  }
  .contacts__map {
    height: 410px;
    width: 100%;
    position: relative;
  }
  .contacts__map__bg {
    margin: 180px 0 0 -76px;
    position: absolute;
    width: 440px;
    height: 230px;
    background: url('../img/relief.jpg') no-repeat;
  }
  .contacts__info,
  .contacts__map {
    margin-top: 40px;
  }
  .logo-contacts {
    display: block;
    width: 108px;
    height: 96px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .contacts {
    height: auto;
    padding: 0px 0 10px 0;
  }
  .contacts__title-border {
    margin: 0 auto;
    width: 190px;
    height: 4px;
    background: #fff;
  }
  .contacts__title-border__blue {
    float: left;
    width: 72px;
    height: 4px;
    background: #1b3459;
  }
  .contacts__info {
    height: auto;
    text-align: center;
  }
  .contacts__info h4 {
    font: 24px 'robotoitalic';
    color: #202020;
    text-transform: uppercase;
  }
  .contacts__info span {
    margin-bottom: 20px;
    margin-top: 30px;
    display: block;
    font: 24px 'robotoregular';
    color: #1f1f1f;
    text-transform: uppercase;
  }
  .contacts__info p {
    margin-bottom: 30px;
    font: 18px 'robotolight';
    color: #1f1f1f;
    line-height: 26px;
  }
  .contacts__inn {
    color: #1b3459 !important;
  }
  .contacts__map {
    height: 350px;
    width: 100%;
    position: relative;
  }
  .contacts__map__bg {
    display: none;
    margin: 180px 0 0 -76px;
    position: absolute;
    width: 440px;
    height: 230px;
    background: url('../img/relief.jpg') no-repeat;
  }
  .contacts__info,
  .contacts__map {
    margin-top: 40px;
  }
  .logo-contacts {
    margin: 0 auto;
    display: block;
    width: 108px;
    height: 96px;
  }
}
@media only screen and (min-width: 1100px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 9999;
    background: #1b3459;
  }
  .header .logo {
    margin: 22px 0 0 -20px;
    float: left;
  }
  .logo {
    display: block;
  }
  .logo img {
    display: block;
    width: 245px;
    height: 44px;
  }
  .navigation {
    display: block;
  }
  .navigation ul {
    margin: 0;
    padding: 0;
  }
  .navigation ul li {
    float: left;
    height: 90px;
    list-style: none;
    margin: 0 38px;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    padding: 0 9px;
    display: block;
    height: 90px;
    font: 14px 'robotomedium';
    line-height: 84px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 6px solid #1b3459;
  }
  .navigation ul li a:hover,
  .navigation ul li a:hover:hover,
  .navigation ul li a:focus,
  .navigation ul li a:hover:focus {
    text-decoration: none;
    border-color: #fff;
  }
  .header__block-contacts {
    margin: 16px 0 0 0 !important;
  }
  .block-contacts {
    margin-left: -90px !important;
    width: 170px;
    text-align: center;
  }
  .block-contacts p {
    font: 18px 'robotomedium';
    color: #fff;
  }
  .block-contacts a,
  .block-contacts a:hover {
    display: block;
    font: 16px 'robotomedium';
    color: #fff;
    text-decoration: underline;
  }
  .block-contacts a:hover,
  .block-contacts a:hover:hover,
  .block-contacts a:focus,
  .block-contacts a:hover:focus {
    text-decoration: none;
  }
  .container-small {
    width: 1040px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .header {
    position: inherit;
    padding: 32px 0;
    height: auto;
    background: #1b3459;
  }
  .header .logo {
    margin: 0px 0 0 0;
  }
  .logo {
    display: block;
  }
  .logo img {
    margin: 0 auto;
    display: block;
    width: 245px;
    height: 44px;
  }
  .navigation {
    display: block;
  }
  .navigation ul {
    margin: 0;
    margin-top: 40px;
    padding: 0;
  }
  .navigation ul li {
    float: none;
    height: 40px;
    list-style: none;
    margin: 0 0px;
    text-align: center;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    padding: 0 9px;
    display: block;
    height: 40;
    font: 14px 'robotomedium';
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 0px solid #2ac4f4;
  }
  .navigation ul li a:hover,
  .navigation ul li a:hover:hover,
  .navigation ul li a:focus,
  .navigation ul li a:hover:focus {
    text-decoration: underline;
    border-color: #fff;
  }
  .header__block-contacts {
    margin: 16px 0 0 0 !important;
  }
  .block-contacts {
    margin: 0 auto !important;
    margin-top: 30px !important;
    width: 170px;
    text-align: center;
  }
  .block-contacts p {
    font: 18px 'robotomedium';
    color: #fff;
  }
  .block-contacts a,
  .block-contacts a:hover {
    display: block;
    font: 16px 'robotomedium';
    color: #fff;
    text-decoration: underline;
  }
  .block-contacts a:hover,
  .block-contacts a:hover:hover,
  .block-contacts a:focus,
  .block-contacts a:hover:focus {
    text-decoration: none;
  }
  .container-small {
    width: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .header {
    position: inherit;
    padding: 32px 0;
    height: auto;
    background: #1b3459;
  }
  .header .logo {
    margin: 0px 0 0 0;
  }
  .logo {
    display: block;
  }
  .logo img {
    margin: 0 auto;
    display: block;
    width: 245px;
    height: 44px;
  }
  .navigation {
    display: block;
  }
  .navigation ul {
    margin: 0;
    margin-top: 40px;
    padding: 0;
  }
  .navigation ul li {
    float: none;
    height: 40px;
    list-style: none;
    margin: 0 0px;
    text-align: center;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    padding: 0 9px;
    display: block;
    height: 40;
    font: 14px 'robotomedium';
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 0px solid #2ac4f4;
  }
  .navigation ul li a:hover,
  .navigation ul li a:hover:hover,
  .navigation ul li a:focus,
  .navigation ul li a:hover:focus {
    text-decoration: underline;
    border-color: #fff;
  }
  a.navigation__link-active {
    border-bottom: 0px solid #159cd8 !important;
  }
  .header__block-contacts {
    margin: 16px 0 0 0 !important;
  }
  .block-contacts {
    margin: 0 auto !important;
    margin-top: 30px !important;
    width: 170px;
    text-align: center;
  }
  .block-contacts p {
    font: 18px 'robotomedium';
    color: #fff;
  }
  .block-contacts a,
  .block-contacts a:hover {
    display: block;
    font: 16px 'robotomedium';
    color: #fff;
    text-decoration: underline;
  }
  .block-contacts a:hover,
  .block-contacts a:hover:hover,
  .block-contacts a:focus,
  .block-contacts a:hover:focus {
    text-decoration: none;
  }
  .container-small {
    width: auto;
  }
}
@media only screen and (min-width: 1100px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background: #1b3459;
  }
  .header .logo {
    margin: 22px 0 0 -20px;
    float: left;
  }
  .logo {
    display: block;
  }
  .logo img {
    display: block;
    width: 245px;
    height: 44px;
  }
  .navigation {
    display: block;
  }
  .navigation ul {
    margin: 0;
    padding: 0;
  }
  .navigation ul li {
    float: left;
    height: 90px;
    list-style: none;
    margin: 0 38px;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    padding: 0 9px;
    display: block;
    height: 90px;
    font: 14px 'robotomedium';
    line-height: 84px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 6px solid #1b3459;
  }
  .navigation ul li a:hover,
  .navigation ul li a:hover:hover,
  .navigation ul li a:focus,
  .navigation ul li a:hover:focus {
    text-decoration: none;
    border-color: #fff;
  }
  a.navigation__link-active {
    border-bottom: 6px solid #fff !important;
  }
  .header__block-contacts {
    margin: 16px 0 0 0 !important;
  }
  .block-contacts {
    margin-left: -90px !important;
    width: 170px;
    text-align: center;
  }
  .block-contacts p {
    font: 18px 'robotomedium';
    color: #fff;
  }
  .block-contacts a,
  .block-contacts a:hover {
    display: block;
    font: 16px 'robotomedium';
    color: #fff;
    text-decoration: underline;
  }
  .block-contacts a:hover,
  .block-contacts a:hover:hover,
  .block-contacts a:focus,
  .block-contacts a:hover:focus {
    text-decoration: none;
  }
  .container-small {
    width: 1040px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1100px) {
  .main-screen {
    margin-top: 90px;
    position: relative;
    height: 597px;
    height: auto;
  }
  .main-screen__fake-preview {
    position: absolute;
    display: block;
    width: 100%;
    height: 597px;
    z-index: 999;
  }
  .main-screen__fake-preview img {
    display: block;
    width: 100%;
    height: auto;
  }
  .main-screen__video-frame {
    margin: 40px 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .main-screen {
    margin-top: 20px;
    position: relative;
    height: auto;
  }
  .main-screen__fake-preview {
    position: absolute;
    display: block;
    width: 100%;
    height: 240px;
    z-index: 999;
    background: url('../img/main-screen.jpg') no-repeat center;
    background-size: cover;
  }
  .main-screen__fake-preview img {
    display: none;
    width: 100%;
    height: auto;
  }
  .main-screen__video-frame {
    margin: 10px 0 20px 0;
  }
  .main-screen__video-frame iframe {
    width: 100%;
    height: 200px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .portfolio {
    padding-top: 80px;
    padding-bottom: 80px;
    width: auto;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
  }
  .title-block__line {
    margin: 0 auto;
    width: 74px;
    height: 4px;
    background: #1b3459;
  }
  .portfolio-slider {
    margin-top: 70px;
    height: auto;
    position: relative;
    z-index: 888;
  }
  .prev {
    top: 190px;
    left: -6%;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    -moz-transform: rotate(180deg);
    z-index: 888;
  }
  .prev:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .next {
    top: 190px;
    right: -4%;
    margin-left: -2%;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat center;
    z-index: 99999;
  }
  .next:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .portfolio-banner {
    margin: 34px 0 0px 0;
    height: auto;
    width: 100%;
  }
  .portfolio-banner ul {
    list-style: none;
  }
  .portfolio-banner li {
    margin: 0;
    padding: 0;
    margin-left: -10px;
    list-style: none;
    float: left;
    width: auto;
    height: 464px;
  }
  .portfolio-banner li a,
  .portfolio-banner li a:hover {
    display: block;
  }
  .portfolio-banner li a img,
  .portfolio-banner li a:hover img {
    float: right;
    display: block;
    margin: 0 auto;
    width: 514px !important;
    height: auto !important;
  }
  .portfolio-slider__content {
    position: relative;
    margin-right: 0px;
    float: none;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  .portfolio-slider__content h4 {
    margin-left: 10%;
    display: block;
    font: 24px 'robotomedium';
    color: #1b3459;
    text-transform: uppercase;
  }
  .portfolio-slider__content .title-block__line {
    margin-left: 10% !important;
  }
  .portfolio-slider__content p {
    margin-top: 60px;
    display: block;
    font: 18px 'robotolight';
    color: #4e4e4e;
  }
  .portfolio-slider__content__button {
    margin-top: 140px;
    width: auto;
    display: inline-block !important;
  }
  .portfolio-show {
    margin-top: 20px;
    display: block;
    font: 18px 'robotomedium';
    color: #1b3459;
    text-decoration: underline;
  }
  .portfolio-show:hover {
    color: #159cd8;
  }
  .portfolio-full {
    display: none;
  }
  .portfolio-slider__example {
    margin: 0;
    margin-right: 0px !important;
    position: relative;
    float: none;
    display: block;
    margin: 0 auto;
    width: auto !important;
    height: auto !important;
  }
  .portfolio-slider__example a,
  .portfolio-slider__example a:hover {
    display: block;
    width: auto;
    height: auto;
    background: #f00;
  }
  .portfolio-slider__example img {
    position: absolute;
    display: block;
    width: 100% !important;
    height: auto;
    z-index: 5;
  }
  .portfolio-slider__example__background {
    left: -75px;
    bottom: -465px;
    position: absolute;
    z-index: 3;
    width: 440px;
    height: 240px;
  }
  .works-slider {
    margin-top: 0px !important;
    height: auto;
    width: auto;
    margin: 0 auto;
    position: relative;
    z-index: 888;
  }
  .works-slider .prev {
    top: 180px !important;
    left: 0px !important;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 88px !important;
    height: 48px !important;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/portfolio-prev.png') no-repeat !important;
    -moz-transform: rotate(0deg) !important;
    z-index: 888;
  }
  .works-slider .prev:hover {
    border-color: #000;
  }
  .works-slider .next {
    top: 180px !important;
    right: -10px !important;
    margin-left: 0 !important;
    position: absolute;
    display: block;
    width: 88px !important;
    height: 48px !important;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/portfolio-next.png') no-repeat !important;
    z-index: 99999;
  }
  .works-slider .next:hover {
    margin: 0 !important;
    padding: 0 !important;
    width: 88px !important;
    background: url('../img/portfolio-next.png') no-repeat !important;
    border-color: #000;
  }
  .works-banner {
    margin: 0px 0 0px 0;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .works-banner ul {
    list-style: none;
  }
  .works-banner li {
    margin: 0;
    padding: 0;
    margin-left: -10px;
    list-style: none;
    float: left;
    width: auto;
    height: 464px;
  }
  .works-banner li a,
  .works-banner li a:hover {
    display: block;
  }
  .works-banner li a img,
  .works-banner li a:hover img {
    float: right;
    display: block;
    margin: 0 auto;
    width: 514px !important;
    height: auto !important;
  }
  .works-controls_tabs {
    margin: 30px 0 0 280px !important;
    padding: 0 !important;
    width: 200px !important;
    height: 41px !important;
    z-index: 999;
    position: absolute;
  }
  .works-controls_tabs li {
    margin-right: 15px !important;
    width: 3px !important;
    height: 41px !important;
  }
  .works-controls_tabs li a,
  .works-controls_tabs li a:hover {
    float: none !important;
    width: 3px !important;
    background: #626262;
    height: 25px !important;
    text-indent: -9999px;
    overflow: hidden;
  }
  .works-controls_here {
    width: 3px !important;
    height: 41px !important;
    background: #1b3459 !important;
    border-radius: 0 !important;
    z-index: 99;
  }
  .works-controls_here a,
  .works-controls_here a:hover {
    background: #1b3459 !important;
  }
}
@media only screen and (min-width: 1100px) {
  .portfolio {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 1040px;
    margin: 0 auto;
    height: auto;
  }
  .title-block__line {
    margin: 0 auto;
    width: 74px;
    height: 4px;
    background: #1b3459;
  }
  .portfolio-slider {
    margin-top: 70px;
    height: auto;
    position: relative;
    z-index: 888;
  }
  .prev {
    top: 190px;
    left: -6%;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    -moz-transform: rotate(180deg);
    z-index: 888;
  }
  .prev:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .next {
    top: 190px;
    right: -4%;
    margin-left: -2%;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat center;
    z-index: 99999;
  }
  .next:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .portfolio-banner {
    margin: 34px 0 0px 0;
    height: 464px;
    width: 100%;
  }
  .portfolio-banner ul {
    list-style: none;
  }
  .portfolio-banner li {
    margin: 0;
    padding: 0;
    margin-left: -10px;
    list-style: none;
    float: left;
    width: auto;
    height: 464px;
  }
  .portfolio-banner li a,
  .portfolio-banner li a:hover {
    display: block;
  }
  .portfolio-banner li a img,
  .portfolio-banner li a:hover img {
    float: right;
    display: block;
    margin: 0 auto;
    width: 514px !important;
    height: auto !important;
  }
  .portfolio-slider__content {
    height: 314px;
    position: relative;
    margin-right: 30px;
    float: left;
    width: 400px;
    height: auto;
    overflow: hidden;
  }
  .portfolio-slider__content h4 {
    display: block;
    font: 24px 'robotomedium';
    color: #1b3459;
    text-transform: uppercase;
  }
  .portfolio-slider__content p {
    margin-top: 60px;
    display: block;
    font: 18px 'robotolight';
    color: #4e4e4e;
  }
  .portfolio-slider__content__author {
    margin-bottom: 70px;
    height: 80px;
    overflow: hidden;
  }
  .portfolio-slider__content__author img {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 36px;
  }
  .portfolio-slider__content__author span {
    margin-top: 16px;
    display: block;
    font: 20px 'robotomedium';
    color: #1b3459;
  }
  .portfolio-slider__content__author p {
    margin-top: 2px;
    font: 18px 'robotoregular';
    color: #000;
  }
  .portfolio-slider__content__button {
    margin-top: 140px;
    width: auto;
    display: inline-block !important;
  }
  .portfolio-show {
    margin-top: 20px;
    display: block;
    font: 18px 'robotomedium';
    color: #1b3459;
    text-decoration: underline;
  }
  .portfolio-show:hover {
    color: #159cd8;
  }
  .portfolio-full {
    display: none;
  }
  .portfolio-slider__example {
    margin-right: 66px !important;
    position: relative;
    float: right;
    display: block;
    margin: 0 auto;
    width: 514px !important;
    height: auto !important;
  }
  .portfolio-slider__example a,
  .portfolio-slider__example a:hover {
    display: block;
    width: 514px;
    height: 460px;
    background: #f00;
  }
  .portfolio-slider__example img {
    position: absolute;
    display: block;
    width: 514px !important;
    height: 460px;
    z-index: 5;
  }
  .portfolio-slider__example__background {
    left: -75px;
    bottom: -465px;
    position: absolute;
    z-index: 3;
    width: 440px;
    height: 240px;
  }
  .works-slider {
    margin-top: 0px !important;
    height: auto;
    position: relative;
    z-index: 888;
  }
  .works-slider .prev {
    top: 490px;
    left: 30px !important;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 88px;
    height: 48px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/portfolio-prev.png') no-repeat !important;
    -moz-transform: rotate(0deg) !important;
    z-index: 888;
  }
  .works-slider .prev:hover {
    border-color: #000;
  }
  .works-slider .next {
    top: 490px;
    right: -30px !important;
    margin-left: 0 !important;
    position: absolute;
    display: block;
    width: 88px;
    height: 48px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/portfolio-next.png') no-repeat !important;
    z-index: 99999;
  }
  .works-slider .next:hover {
    margin: 0 !important;
    padding: 0 !important;
    width: 88px !important;
    background: url('../img/portfolio-next.png') no-repeat !important;
    border-color: #000;
  }
  .works-banner {
    margin: 0px 0 0px 0;
    height: 460px;
    width: 100%;
  }
  .works-banner ul {
    list-style: none;
  }
  .works-banner li {
    margin: 0;
    padding: 0;
    margin-left: -10px;
    list-style: none;
    float: left;
    width: auto;
    height: 464px;
  }
  .works-banner li a,
  .works-banner li a:hover {
    display: block;
  }
  .works-banner li a img,
  .works-banner li a:hover img {
    float: right;
    display: block;
    margin: 0 auto;
    width: 514px !important;
    height: auto !important;
  }
  .works-controls_tabs {
    margin: 30px 0 0 280px !important;
    padding: 0 !important;
    width: 200px !important;
    height: 41px !important;
    z-index: 999;
    position: absolute;
  }
  .works-controls_tabs li {
    margin-right: 15px !important;
    width: 3px !important;
    height: 41px !important;
  }
  .works-controls_tabs li a,
  .works-controls_tabs li a:hover {
    float: none !important;
    width: 3px !important;
    background: #626262;
    height: 25px !important;
    text-indent: -9999px;
    overflow: hidden;
  }
  .works-controls_here {
    width: 3px !important;
    height: 41px !important;
    background: #1b3459 !important;
    border-radius: 0 !important;
    z-index: 99;
  }
  .works-controls_here a,
  .works-controls_here a:hover {
    background: #1b3459 !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .reviews {
    width: auto;
    margin: 0 auto;
    height: auto;
  }
  .title-block__line {
    margin: 0 auto;
    width: 74px;
    height: 4px;
    background: #1b3459;
  }
  .reviews-slider {
    position: relative;
    z-index: 888;
  }
  .prev {
    top: 20px;
    left: 5%;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    -moz-transform: rotate(180deg);
    z-index: 888;
  }
  .prev:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .next {
    top: 20px;
    right: 5%;
    margin-left: 0%;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat center;
    z-index: 99999;
  }
  .next:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .reviews-banner {
    margin: 84px 0 30px 0;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .reviews-banner ul {
    list-style: none;
  }
  .reviews-banner li {
    margin: 0;
    padding: 0;
    margin-left: -10px;
    list-style: none;
    float: left;
    width: auto;
    height: auto;
  }
  .reviews-banner li a,
  .reviews-banner li a:hover {
    display: block;
  }
  .reviews-banner li a img,
  .reviews-banner li a:hover img {
    float: none;
    display: block;
    margin: 0 auto;
    width: 100% !important;
    height: auto !important;
  }
  .centered-controls_tabs {
    margin-top: 260px;
    position: absolute;
    width: 210px;
    background: 0;
    z-index: 99;
    left: 50%;
    margin-left: -7%;
  }
  .centered-controls_tabs li {
    list-style: none;
    float: left;
  }
  .centered-controls_tabs li a,
  .centered-controls_tabs li a:hover {
    display: block;
    width: 10px;
    height: 10px;
    background: 0;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -9999px;
  }
  .centered-controls_tabs li:last-child {
    margin-right: 0;
  }
  .centered-controls_here {
    background: #fff;
    border-radius: 50%;
  }
  .reviews-slider__content {
    margin-right: 60px;
    float: none;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  .reviews-slider__content p {
    font: 18px 'robotolight';
    color: #4e4e4e;
  }
  .reviews-slider__content__author {
    margin-left: 8%;
    margin-bottom: 30px;
    height: 80px;
    overflow: hidden;
  }
  .reviews-slider__content__author img {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 36px;
  }
  .reviews-slider__content__author span {
    margin-top: 16px;
    display: block;
    font: 20px 'robotomedium';
    color: #1b3459;
  }
  .reviews-slider__content__author p {
    margin-top: 2px;
    font: 18px 'robotoregular';
    color: #000;
  }
  .review-show {
    margin-top: 20px;
    display: block;
    font: 18px 'robotomedium';
    color: #1b3459;
    text-decoration: underline;
  }
  .review-show:hover {
    color: #159cd8;
  }
  .review-full {
    display: none;
  }
  .review-slider__example {
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
    display: block;
    margin: 0 auto;
    width: 100% !important;
    height: auto !important;
    overflow: hidden;
  }
  .review-slider__example img {
    margin: 30px 0 0 0%;
    position: relative !important;
    display: block;
    width: 90% !important;
    height: auto !important;
  }
  .review-slider__example__background {
    display: none;
    left: -75px;
    bottom: -525px;
    position: absolute;
    z-index: 3;
    width: 440px;
    height: 240px;
    background: url('../img/relief.jpg') no-repeat;
  }
}
@media only screen and (min-width: 1100px) {
  .reviews {
    width: 1040px;
    margin: 0 auto;
    height: auto;
  }
  .title-block__line {
    margin: 0 auto;
    width: 74px;
    height: 4px;
    background: #1b3459;
  }
  .reviews-slider {
    position: relative;
    z-index: 888;
  }
  .prev {
    top: 190px;
    left: -6%;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    -moz-transform: rotate(180deg);
    z-index: 888;
  }
  .prev:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .next {
    top: 190px;
    right: -4%;
    margin-left: -2%;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat center;
    z-index: 99999;
  }
  .next:hover {
    background: url('../img/arrow-active.png') no-repeat;
    border-color: #000;
  }
  .reviews-banner {
    margin: 84px 0 120px 0;
    height: 464px;
    width: 100%;
  }
  .reviews-banner ul {
    list-style: none;
  }
  .reviews-banner li {
    margin: 0;
    padding: 0;
    margin-left: -10px;
    list-style: none;
    float: left;
    width: auto;
    height: 464px;
  }
  .reviews-banner li a,
  .reviews-banner li a:hover {
    display: block;
  }
  .reviews-banner li a img,
  .reviews-banner li a:hover img {
    float: right;
    display: block;
    margin: 0 auto;
    width: 514px !important;
    height: auto !important;
  }
  .reviews-slider__content {
    margin-right: 60px;
    float: left;
    width: 400px;
    height: auto;
    overflow: hidden;
  }
  .reviews-slider__content p {
    font: 18px 'robotolight';
    color: #4e4e4e;
  }
  .reviews-slider__content__author {
    margin-bottom: 70px;
    height: 80px;
    overflow: hidden;
  }
  .reviews-slider__content__author img {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 36px;
  }
  .reviews-slider__content__author span {
    margin-top: 16px;
    display: block;
    font: 20px 'robotomedium';
    color: #1b3459;
  }
  .reviews-slider__content__author p {
    margin-top: 2px;
    font: 18px 'robotoregular';
    color: #000;
  }
  .review-show {
    margin-top: 20px;
    display: block;
    font: 18px 'robotomedium';
    color: #1b3459;
    text-decoration: underline;
  }
  .review-show:hover {
    color: #159cd8;
  }
  .review-full {
    display: none;
  }
  .review-slider__example {
    position: relative;
    float: right;
    display: block;
    margin: 0 auto;
    width: 514px !important;
    height: auto !important;
  }
  .review-slider__example img {
    position: absolute;
    display: block;
    width: 514px !important;
    height: 464px;
    z-index: 5;
  }
  .review-slider__example__background {
    left: -75px;
    bottom: -525px;
    position: absolute;
    z-index: 3;
    width: 440px;
    height: 240px;
    background: url('../img/relief.jpg') no-repeat;
  }
}
@media only screen and (min-width: 1100px) {
  .advantages {
    height: auto;
    background: url('../img/advantages.jpg') no-repeat center;
    background-size: cover;
  }
  .advantages__list {
    margin-top: 50px;
    height: auto;
  }
  .advantages__list ul {
    margin: 0;
    padding: 0;
    list-style: none !important;
  }
  .advantages__list ul li {
    margin-bottom: 100px;
    float: left;
    width: 500px;
    height: auto;
    list-style: 0 !important;
  }
  .advantages__list ul li img {
    margin-right: 20px;
    display: block;
    float: left;
    width: 70px;
    height: 68px;
  }
  .advantages__list ul li span {
    font: 18px 'robotomedium';
    color: #1b3459;
  }
  .advantages__list ul li p {
    width: 80%;
    float: left;
    font: 18px 'robotolight';
    color: #4e4e4e;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .advantages {
    height: auto;
    background: url('../img/advantages.jpg') no-repeat center;
    background-size: cover;
  }
  .advantages__list {
    margin-top: 50px;
    height: auto;
  }
  .advantages__list ul {
    margin: 0;
    padding: 0;
    list-style: none !important;
  }
  .advantages__list ul li {
    margin-bottom: 50px;
    float: none;
    width: auto;
    height: auto;
    list-style: 0 !important;
    text-align: center;
  }
  .advantages__list ul li img {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    float: none;
    width: 70px;
    height: 68px;
  }
  .advantages__list ul li span {
    font: 18px 'robotomedium';
    color: #1b3459;
  }
  .advantages__list ul li p {
    width: auto;
    float: nona;
    font: 18px 'robotolight';
    color: #4e4e4e;
  }
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
