.contacts

	// container

	.container.container-small

		// title block

		.title-block

			h2
				| Контакты

			.contacts__title-border
				.contacts__title-border__blue
				
		.row

			.col-xs-12.col-md-5
				
				// information

				.contacts__info

					h4
						| оОО «РестроИнжиринг»

					span
						| Адрес:

					p
						| Санкт-Петербург: <br/> Кушелевская дорога, 12, офис 16

					span.contacts__inn
						| ИНН 3702114011

					img(src="../img/logo-dark.png" alt="@@")

			.col-xs-12.col-md-7

				// map

				.contacts__map

					.contacts__map__bg
					script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad570d1ae0c0283313dea29aae33c4104073d3f0f9855bc8a7fa21950c4a88b6d&amp;width=100%25&amp;height=342&amp;lang=ru_RU&amp;scroll=true")