.block-begin#beginBlock

	// container

	.container.container-small

		.row

			.col-xs-1.col-md-1

			.col-xs-10.col-md-10

				
				// title block

				.title-block

					h2
						| C чего начинается ремонт?

				// list

				.list

					ul

						li
							.list__number
								.list__number__element
									span
										| 1
							p.list__normal
								| Мы бесплатно выезжаем к вам на замер, рассчитываем фиксированную смету и согласуем её с вами.

						li
							.list__number
								.list__number__element
									span
										| 2
							p
								| Продумываем все нюансы: выбираем готовые решения или разрабатываем индивидуальный дизайн-проект; закупаем необходимые материалы; организуем всю логистику.

						li
							.list__number
								.list__number__element
									span
										| 3
							p.list__normal
								| Закрепляем за вами личного руководителя проектов, который будет налаживать процессы работ и присылать вам фотоотчёт всех этапов.

						li
							.list__number
								.list__number__element
									span
										| 4
							p.list__normal
								| Доводим работы по проекту до конца и делаем точную, инструментальную проверку качества работ перед самой сдачей.

						li
							.list__number
								.list__number__element
									span
										| 5
							p.list__small
								| Сдаём вам выполненную работу и делаем комплексный клининг помещения.

				// detail

				.block-begin__detail

					a.button-blue(href="#" title="")
						| Бесплатный замер

					a.link-bold.block-begin__detail__link(href="#" title="")
						| Консультация менеджера

			.col-xs-1.col-md-1