header.header

	// container

	.container.container-small

		.row

			.col-xs-12.col-md-3

				// logotype

				a.logo(data-easing="easeInQuad" href="#" title="")
					img(src="../img/logo.png" alt="@@")

			.col-xs-12.col-md-8

				// navigation

				.navigation
					ul
						li
							a(data-easing="easeInQuad" href="#portfolioBlock" title="")
								| Портфолио
						li
							a(data-easing="easeInQuad" href="#beginBlock" title="")
								| Расчёт стоимости
						li
							a(data-easing="easeInQuad" href="#actionsBlock" title="")
								| Акции

			.col-xs-12.col-md-1

				// block contacts

				.block-contacts.header__block-contacts
					p
						| +7 (812) 309 98 48

					a(href="#" title="")
						| Обратный звонок!
				