header.header

	// container

	.container.container-small

		.row

			.col-xs-12.col-md-3

				// logotype

				a.logo(href="#" title="")
					img(src="../img/logo.png" alt="@@")

			.col-xs-12.col-md-8

				// navigation

				.navigation
					ul
						li
							a.navigation__link-active(href="#" title="")
								| Портфолио
						li
							a(href="#" title="")
								| Расчёт стоимости
						li
							a(href="#" title="")
								| Акции			

			.col-xs-12.col-md-1

				// block contacts

				.block-contacts.header__block-contacts
					p
						| +7 (812) 309 98 48

					a(href="#" title="")
						| Обратный звонок!
				