// вызвать замерщика (для кнопки под замер)

// call expert

.popup.call-expert

	h4
		| Вызвать замерщика

	p
		| Для того чтобы узнаит точную стоимость работ пригласите нашего замерщика БЕСПЛАТНО:- Он приедет в удобное Вам время- Произведет все необходимые замеры- Проконсультирует Вас по всем вопросам

	form(action="/" method="post")
		input(type="text" placeholder="Введите Ваше имя")
		input(type="text" placeholder="Введите Ваш телефон")
		input(type="submit" value="Вызвать замерщика")

// Заказать звонок (Оставить заявку, консультация менеджера)

.popup.manager-consultation

	h4
		| Заказать звонок

	form(action="/" method="post")
		input(type="text" placeholder="Введите Ваше имя")
		input(type="text" placeholder="Введите Ваш телефон")
		input(type="submit" value="Заказать")

// Сделайте заказ (для акций)

.popup.make-an-order

	h4
		| Сделайте заказ

	p
		| прямо сейчас

	form(action="/" method="post")
		input(type="text" placeholder="Введите Ваше имя")
		input(type="text" placeholder="Введите Ваш телефон")
		input(type="submit" value="Перезвоните мне")

// thanks

.popup.popup-thanks
	p
		| Спасибо! Ваша заявка успешно отравлена!