.actions

	// title block

	.title-block

					h2
						| Акции

					.title-block__line


	// actions slider

	.actions-slider

					ul.actions-banner.actions-block

						// item

						li

							// actions slider content

							.actions-slider__content

								h4
									| Скидка на дизайн в скандинавском стиле

								.title-block__line.no-margin

								p.actions-content
									| Скидка 15% на разработку дизайн-проекта в скандинавском стиле

								a.button-blue.actions-slider__content__button(href="#" title="")
									| Воспользоваться акцией

							.actions-slider__example
								.actions-slider__example__background
								img(src="../img/action.jpg" alt="@@")

						// / item

						// item

						li

							// actions slider content

							.actions-slider__content

								h4
									| Скидка на дизайн в скандинавском стиле

								.title-block__line.no-margin

								p.actions-content
									| Скидка 15% на разработку дизайн-проекта в скандинавском стиле

								a.button-blue.actions-slider__content__button(href="#" title="")
									| Воспользоваться акцией

							.actions-slider__example
								.actions-slider__example__background
								img(src="../img/action.jpg" alt="@@")

						// / item